.portfolio__container {
    height: inherit;
    padding: 0.2rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    text-align: center;
    margin: 1.2rem 0  2rem;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    position: relative;
    top: 0;
    bottom: 1;
}


/****MEDIA QUERIES***/
/**medium devices**/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
}

/**small devices**/
@media screen and (max-width: 600px) {
    .portfolio__container{
        display: flex;
        overflow: auto;
        
    }


    
    
}